html {
  background-color: antiquewhite;
  position: relative;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
}

#root{
  width: 100%;
  margin: 0 auto;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

input{
  width: 400px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid gray;
  padding-left: 20px;
}

input::placeholder{
  color: gray;
  font-size: 15px;
}

button{
  margin-left: 10px;
  width: 90px;
  height: 55px;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 14px;
}

.nomo, .loding{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.print{
  padding: 50px 50px 100px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, auto));
}

.movies{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  margin-top: 15px;
}

img{
  width: 200px;
  height: 200px;
}
